
.c1{
 background-color: rgb(210, 210, 210);
box-sizing: border-box;
max height: 800px;
min height: 500px;
overflow: auto;


border: 1px solid #000;
border-top-left-radius: 20px;
border-bottom-left-radius:  20px;

}

.c2
{
box-sizing: border-box;
margin: 5px;
padding:20px 15px 10px 25px; ;
background-color: rgb(181, 136, 62);
}

.c2
{
display: inline-block;
width: 200px;
border: 3px groove rgb(155, 117, 55);
border-radius: 30px;
opacity: 0.9;
}



